@import '~bootstrap/scss/bootstrap.scss';

.product-array, .product-detail{

  .product {
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
  }

   h2 {
    font-size: 1.3rem;
     font-weight: 700
  }

  a {
    color: #333;
  }

}

ul {
  list-style-type: none;
  padding: 0;
}

header nav {
  margin-bottom: 1rem;
}

nav ul {

  a {
    font-weight: 700;
    font-size: 1.3rem;
  }

}